html,body{height: 100%; }
.jd_category{height: 100%;padding-top: 45px;overflow: hidden;}
/* 左侧菜单 */
.left_category{width:90px;height: 100%;border-top: none;overflow: hidden;}
.left_category li{height: 50px; line-height: 50px;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;text-align: center;background: #f3f4f6;}
.left_category ul li.now{background: #fff;border-right: none;}
.left_category ul li a{display: block;}
.left_category ul li.now a{color:#d8505c;}
/* 右侧内容 */
.right_category{height: 100%;overflow: hidden;}
.right_category .product_box{padding:0 10px;}
.right_category h3{line-height:30px;font-size: 12px;}
.right_category .category_women{height: 100%;}
.right_category .category_women .banner{display: block;width: 100%;padding:10px;}
.right_category .category_women .banner img{width: 100%; display: block;}
.right_category .category_women ul li{width: 33.333%;float: left;height: 100%;}
.right_category .category_women ul li img{width: 62px; height: 62px; display:block; margin: 0 auto; }
.right_category .category_women ul li p{text-align: center; font-size: 12px; padding:5px;}
